@font-face {
  font-family: "header-font";
  src: url("./components/fonts/GrechenFuemen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("./components/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

.Header {
  grid-area: header;
}

.router {
  grid-area: main;
  overflow: auto;
}

.Footer {
  grid-area: footer;
  z-index: 10;
}

.App {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 100px 1fr 60px;
  height: 100vh;
  background-image: url(./images/ged025.jpeg);
}

.main__menu {
  width: 100%;
  background-color: #fff;
}
.route-list {
  list-style-type: none;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  border: none;
  min-width: 350px;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.route-list__item {
  padding: 0 5px 0 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
